.page {
    background: linear-gradient(to bottom right, #2196F3, #c4fe7b);
}
main{
    grid-area: cont;
    
}
.mainmain {

    display: block;
    width: 100%;
    height: auto;
}

.class-header {
    text-decoration: underline;
    margin-top: 40px;
    margin-left: 50px;
    display: block;
}



.card {
    display: block;
    background-color: #86a9a9;
    border-radius: 20px;
    width: 280px;
    height: 300px;
    margin-left: 50px;
    margin-top: 20px;
    
}
.card img {
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 70px;
    margin-top: 20px;
    width: 50%;
    height: auto;
}
#name {
    text-align: center;
    margin-top: 10px;
}
#course {
    margin-top: 4px;
    margin-left: 9px;
}
#contact{
    margin-top: 4px;
    align-content:center ;
    background-color: transparent;
    border: 0;
    /* margin-right: 9px; */
}
#contact:hover {
    border: 1px solid black;
}
