* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.page{
    background-color: #eee;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9 , 1fr);
    grid-template-rows: 70px auto 150px;
    grid-template-areas:    "logo logo logo logo logo logo logo logo logo"
                            "cont cont cont cont cont cont cont cont cont"
                            "foot foot foot foot foot foot foot foot foot";
    min-height: 10000px;

}

#nav-bar{
    background-image: linear-gradient(to right, #227e9f, #2ec7ff);
    position: sticky;
    top: 0px;
    grid-area: logo;
    display: grid;
    grid-template-columns: repeat(9 , 1fr);
    grid-template-areas:    "ll ll na na na na na pp pp"
}

header{
    color: white;
    /* background-color: rgb(85, 7, 21); */
    grid-area: ll;
}

nav{
    color: white;
    grid-area: na;
    /* background-image: linear-gradient(to right,#2595be ,#34a0c7 ); */
}

.prof{
    grid-area: pp;
}

.login{
    background-color: yellow;
    display: inline-block;
}

.proff{
    display: inline-block;
    background-color: green;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    margin: 20px 0px 0px 10px ;
    border: 2.3px solid #2595be;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: #349fc5;
}

button{
    padding: 5px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 10px 0px #888888a6;
}

.buttonone{
    background-color: #2590b6;
    border: 2.3px solid #2590b6;
}

.buttontwo{
    background-color: #2799c3;
    border: 2.3px solid #2799c3;
    box-shadow: 3px 3px 10px 0px #8f8c8ca6;
}

.buttonthree{
    background-color: #29a4d1;
    border: 2.3px solid #29a4d1;
    box-shadow: 3px 3px 10px 0px #a1a1a1;
}

button:hover{
    cursor: pointer;
}
button:active{
    background-color: #888888a6;
    border-color: #888888a6;
}

main{
    grid-area: cont;
}

footer{
    grid-area: foot;
}