* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.page{
    background-color: #DDD;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9 , 1fr);
    grid-template-rows: 70px auto 150px;
    grid-template-areas:    "logo logo logo logo logo logo logo logo logo"
                            "cont cont cont cont cont cont cont cont cont"
                            "foot foot foot foot foot foot foot foot foot";

}


main{
    grid-area: cont;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .reg-box{
    width: 250px;
    height: 270px;
    background-color: #29a4d1;
    box-shadow: 0px 1px 7px 2px #888888a6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-text-box{
    background-color: white;
    border-color: #DDD;
    margin-top: 20px;
}



footer{
    grid-area: foot;
}